<!doctype html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8">
    <title>ff.gg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.bootstrap_5.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body data-bs-theme="dark">
    <header class="navbar navbar-expand-md navbar-light d-print-none">
        <div class="container-xl d-flex justify-content-between align-items-center w-100">
            <!-- Left: Brand -->
            <a href="/" class="navbar-brand">ff.gg</a>

            <!-- Center: Navigation links -->
            <div class="d-none d-md-flex me-auto">
                <a class="nav-link ms-5 {% if request.path == '/nfl' %}active{% endif %}" href="/nfl">NFL</a>
                <a class="nav-link ms-3 {% if request.path == '/mlb' or request.path == '/' %}active{% endif %}"
                    href="/mlb">MLB</a>
            </div>

            <!-- Right: Login/Logout -->
            <div class="d-flex align-items-center topbar">
                {% if current_user.is_authenticated %}
                <a class="me-2 teams" href="/teams">Teams</a>
                <span class="me-2">{{ current_user.email }}</span>
                <a class="btn btn-outline-danger btn-sm" href="/logout">Logout</a>
                {% else %}
                <a class="btn btn-outline-primary btn-sm" href="{{ url_for('google.login') }}">Login with Google</a>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="page-wrapper">
        <div class="page-body">
            <div class="container-xl mt-3">
                {% block content %}{% endblock %}

                
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
    <script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/table.js') }}"></script>


</body>

</html>