{% extends "base.html" %}

{% block content %}
<h2>MLB Stats</h2>
<ul class="nav nav-tabs" id="roleTabs">
  {% for role in players %}
  <li class="nav-item">
    <a class="nav-link {% if loop.first %}active{% endif %}" data-bs-toggle="tab" href="#{{ role }}">
      {{ role|capitalize }}
    </a>
  </li>
  {% endfor %}
</ul>

<div class="tab-content mt-3">
  {% for role, data in players.items() %}
  <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="{{ role }}">
    <table id="theTable" class="table table-vcenter card-table tablesorter table-dark sortable-table">
      <thead>
        <tr>
          <th>#</th> <!-- Fixed row number -->
          {% for col in data.columns %}
          <th>{{ col }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in data.rows %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ row.name }}</td>
          <td>{{ row.stats[0] }}</td>
          <td>{{ row.expected_score }}</td>
          {% for stat in row.stats[1:] %}
          <td>{{stat}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
  {% endfor %}
</div>

{% endblock %}